<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am <span id="js-rotating">TinPham1993, Engineer, Artist</span>. Nice to see you</h4>
  </div>
  <div class="user-content">
    <p>
      I created this blog to improve myself.
    </p>
    <p>
      There are some categories in my blog such as: Nihongo, Art, Technical... I hope you also like them :P
    </p>
  </div>
</div>
